Documentacion/Archivo XML y XSD Credito Vrs 6 Credito 8-08-2025 (1)/Crédito/NEC2024_CuentasXCobrar.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">


	<xs:element name="Encabezado">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClaseDato"/>
				<xs:element ref="VersionClaseDato"/>
				<xs:element ref="Archivo"/>
				<xs:element ref="VersionArchivo"/>
				<xs:element ref="Periodo"/>
				<xs:element ref="IdEntidad"/>
				<xs:element ref="TipoCarga"/>
				<xs:element ref="TipoMoneda"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ClaseDato">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="5"/>
				<xs:pattern value="([0-9])+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Archivo">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="15"/>
				<xs:pattern value="([0-9])+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ArchivoSICVECA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Encabezado"/>
				<xs:element ref="Datos"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Datos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Registro" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
	<xs:element name="IdEntidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	
	<xs:element name="Periodo">
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:length value="10"/>
				<xs:pattern value="([0-3][0-9][/][0-1][0-9][/][0-2][0-9][0-9][0-9])?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	<xs:element name="TipoMoneda">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="6"/>
				<xs:pattern value="([0-9])+"/>
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<xs:element name="VersionArchivo">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
				<xs:pattern value="([0-9])+.[0-9][0-9]?"/>
				<xs:maxInclusive value="2.0"/>
				<xs:minInclusive value="2.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<xs:element name="VersionClaseDato">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
				<xs:pattern value="([0-9])+.[0-9][0-9]?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<xs:element name="TipoCarga">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="2"/>
				<xs:pattern value="([0-9])+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Registro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdOperacionCredito" minOccurs="1"/>
				<xs:element ref="IdCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="CuentaContableCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="TipoCatalogoSUGEF" minOccurs="1"/>
				<xs:element ref="SaldoCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="TipoMonedaCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="DiasAtrasoCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="FechaRegistroCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="FechaVencimientoCuentaCobrarAsociada" minOccurs="1"/>
				<xs:element ref="Concepto" minOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="accion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="IdOperacionCredito">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="IdCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="CuentaContableCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="TipoCatalogoSUGEF">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="3"/>
				<xs:minInclusive value="0"/>
				<xs:enumeration value="14" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="SaldoCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="22"/>
				<xs:fractionDigits value="2"/>
				<xs:maxExclusive value="100000000000000000000"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="TipoMonedaCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="DiasAtrasoCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="6"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="FechaRegistroCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:token">
					<xs:length value="10" />
					<xs:pattern value="([0][1-9][/][0][1-9][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([0][1-9][/][1][0-2][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([1-2][0-9][/][0][1-9][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([1-2][0-9][/][1][0-2][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([3][0-1][/][0][1-9][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([3][0-1][/][1][0-2][/][1-2][0-9][0-9][0-9])?" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="FechaVencimientoCuentaCobrarAsociada">
		<xs:simpleType>
			<xs:restriction base="xs:token">
					<xs:length value="10" />
					<xs:pattern value="([0][1-9][/][0][1-9][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([0][1-9][/][1][0-2][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([1-2][0-9][/][0][1-9][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([1-2][0-9][/][1][0-2][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([3][0-1][/][0][1-9][/][1-2][0-9][0-9][0-9])?" />
					<xs:pattern value="([3][0-1][/][1][0-2][/][1-2][0-9][0-9][0-9])?" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="Concepto">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

</xs:schema>
